body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    background:url(/IMG/FONDO\ AC\ 2.jpg);
}

h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li:nth-child(even) {
    background-color: #f9f9f9;
}

#eventos {
    background-color: #e8f7ff;
}

#tareas {
    background-color: #fff3e0;
}